@import url(https://fonts.googleapis.com/css?family=Raleway); /* Added by Olspe (may have been unnecessary)*/

:root {
    --bg-light: #f5f5f5;
    --bg-dark: #212529;
    --tc-light: black;
    --tc-dark: white;
}

html,
body {
    text-align: center;
    /* background-color: var(--bg-dark); */
    padding: 0;
    /* color: var(--tc-dark); */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Added by Olspe */
.myDark {
    background-color: var(--bg-dark);
    color: var(--tc-dark);
}

/* Added by Olspe */
.myLight {
    background-color: var(--bg-light);
    color: var(--tc-light);
}

/* Added by Olspe */
.myDarkBorder{
    /* This border styling will be used when in light mode */
    border: 5px solid var(--bg-dark);
}

/* Added by Olspe */
.myLightBorder{
    /* This border styling will be used when in dark mode */
    border: 5px solid var(--bg-light);
}
/* Added by Olspe */
#theme-btn {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Added by Olspe */
ion-icon {
    width: 60%;
    margin: 0 auto;
}

a {
    /* color: mediumpurple; */
    text-decoration: none;
}

.underline {
    text-decoration: underline;
    /* text-decoration-color: gray; */
    font-size: 50px;
}

.css-ypobiv {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
     /* color: var(--tc-dark); */
    /*background-color: #b36500;*/
    padding-bottom: 3cm;
    padding-top: 5cm;
}

.header2 {
     /* color: var(--tc-dark); */
    text-align: center;
    background-color: #b36500;
}

.header3 {
     /* color: var(--tc-dark); */
    text-align: center;
    /* background-color: gray; */
}

.buttons2 {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #121212;
     color: var(--tc-dark);
    display: flex;
    flex-direction: column;
    /* position:fixed;bottom:0;left:0;right:0;height:30px; */
    /* Olspe: Footer currently ends mid-page on my screen, above fixes this for the ContactMe and  
       HireMe pages, but not for the blog page because it blocks some of the content */
}

a {
    color: blue;
}

button {
    background-color: #121212;
    border: none;
     color: var(--tc-dark);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

/* Modified by Olspe */
button:hover {
    background-color: rgb(19, 75, 196);/*rgb(48, 106, 231);*/
    border: none;
     color: var(--tc-dark);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    /* transform: scale(1.26); */
}

/* navigation bar */

/* Add a black background color to the top navigation */
.nav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
    text-decoration-color: gray;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: darkcyan;
     color: var(--tc-dark);
}

/*    */

.ricebowl:hover {
    transform: rotate(30deg);
}

/*.ricebowl {*/
/*  transform: rotate(30deg);*/
/*}*/

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2cm;
     color: var(--tc-dark);
}

.languages-list {
    display: table;
    margin: 0 auto;
}

.features-content {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2cm;
     color: var(--tc-dark);
}

.box {
    width: 320px;
    padding: 10px;
    /* border: 5px white solid; */
}

.box:hover {
    box-shadow: 1px 1px 20px rgb(27, 67, 199);
    border: 5px solid rgb(27, 67, 199);;
}

.box2 {
    width: 120px;
    padding: 10px;
    border: 5px white solid;
    text-align: center;
    box-sizing: border-box ;

}

.box3 {
    width: 120px;
    padding: 10px;
    border: 5px white solid;
    text-align: center;
    box-sizing: border-box ;
}

.align-center {
    text-align: center;
     color: var(--tc-dark);
}

.profile-picture {
    float: top;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    border-radius: 50%;
    /*margin: 5px;*/
}

.the-team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2cm;
     color: var(--tc-dark);
}

ul {
    display: table;
    margin: 0 auto;
}

/* Modified by Olspe */
.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2cm;
     /* color: var(--tc-dark); */
}

/* Added by Olspe */
#menu__toggle {
    display: none;
    clear:both;
    margin: 0;
    padding: 0;
}

/* Added by Olspe */
.menu__btn, .myspan, #menu__toggle {
    position: fixed;
    /* top: 20px; */
    /* left: 20px; */
    /* right: 20px; */
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 16in)
{
    .box {
        margin-left: 90px;
        margin-right: 30px;
        margin-bottom: fill;
    }

    /* The following codes were Added and/or Modified by Olspe */
    .projects {
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 20px;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~  .menu__box {
        left: 0 !important;
        z-index: 1; /*This is to make it stand in front of code animation shown in home page (or anything else)*/
    }
    .menu__btn {
        position: fixed;
        top: 20px;
        /* left: 20px; */
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        /* font-weight: 600; */
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~  .menu__box {
        background-color: #212529;
        display: flex;
        flex-direction: column;
    }

}


.blogposts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2cm;
     /* color: var(--tc-dark); */
}

.blogposts:nth-child(0) {
    
     /* color: var(--tc-dark); */
}
/* Modified by Olspe */
.social {
    /* background- color: var(--tc-dark); */
    /* width: 25%; */
    /* display: flex; */
    justify-content:space-evenly;
    padding-top: 2cm;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* Added by Olspe */
.social a img{
    /* added transparent border to fix the css 'jitter' on the links when the are hovered */
    border-bottom: 5px solid transparent;
}

/* Added by Olspe */
.social a img:hover {/*:not(:last-child)*/
    /* box-shadow: 1px 1px 20px rgb(199, 27, 193); */
    border-bottom: 5px solid rgb(199, 27, 193);
    /* padding-bottom: 2px; */

}

/* Added by Olspe */
button h6{
    display: inline;
}

/* Added by Olspe */
.anchor-text{
    color: rgb(253, 10, 10);

}

/* Added by Olspe */
.anchor-text:hover{
    /* color:rgb(10, 253, 233); */
    font-weight: bold;
}

/* Added by Olspe */
/* fontawesome class/icon */
.fa-angle-right {
    position: relative;
    top: 3px;
    display: inline;
    /* width: 40px; */
    /* padding-top: 10px; */
    margin-left: 4px;
    /* text-align: end; */
    align-self: center;
    font-size: 20px;
}