html,
body {
  text-align: center;
  background-color: #212529;
  padding: 0;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: mediumpurple;
  text-decoration: none;
}

.underline {
    text-decoration: underline;
    text-decoration-color: gray;
    font-size: 50px;
}

.css-ypobiv {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  color: white;
  /*background-color: #b36500;*/
  padding-bottom: 3cm;
  padding-top: 5cm;
}

.header2 {
  color: white;
  text-align: center;
  background-color: #b36500;
}

.header3 {
  color: white;
  text-align: center;
  background-color: gray;
}

.buttons2 {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
}

a {
  color: blue;
}

button {
  background-color: #121212;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

button:hover {
  background-color: gray;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  transform: scale(1.26);
}

/* navigation bar */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
  text-decoration-color: gray;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkcyan;
  color: white;
}

/*    */

.ricebowl:hover {
  transform: rotate(30deg);
}

/*.ricebowl {*/
/*  transform: rotate(30deg);*/
/*}*/

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2cm;
  color: white;
}

.languages-list {
  display: table;
  margin: 0 auto;
}

.features-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2cm;
  color: white;
}

.box {
  width: 320px;
  padding: 10px;
  border: 5px white solid;
}

.box2 {
  width: 120px;
  padding: 10px;
  border: 5px white solid;
  text-align: center;
  box-sizing: border-box ;

}

.box3 {
  width: 120px;
  padding: 10px;
  border: 5px white solid;
  text-align: center;
  box-sizing: border-box ;
}

.align-center {
  text-align: center;
  color: white;
}

.profile-picture {
  float: top;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-radius: 50%;
  /*margin: 5px;*/
}

.the-team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2cm;
  color: white;
}

ul {
  display: table;
  margin: 0 auto;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2cm;
  color: white;
}

.blogposts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2cm;
    color: white;
}

.social {
    justify-content: space-around;
    padding-top: 2cm;
    align-items: center;
}